*{padding: 0;
margin: 0;}
.ajia img{width: 200px;height: 100px;background-color: cadetblue;}
.nm{padding-left: 30px;}
.hea{background-color:darkgreen;height: 100px;}
.ajia{background-color: bisque;}
.hea h1{color: aqua;text-align: center;}
.ter{width: 100;}